
.detailList {
  list-style: none;
  display: block;
  margin-top: 4vh;
  margin-bottom: 10vh;
  margin-inline: 3vh;
  border: 3px solid rgba(100, 137, 78, 0.722);
  border-radius: 10px;
}

.detailListItem {
  border-bottom: 1px solid rgb(193, 191, 191);
  background-color:rgba(100, 137, 78, 0.3);
}

.detailListItem:hover {
  cursor: pointer;
  opacity: 0.8;
}

.detailListItem:nth-child(even) {
  background-color: rgba(100, 137, 78, 0.1);
}

details {
  padding: 1rem;
}

details p {
  text-align: justify;
  margin-top: 3vh;
  margin-bottom: 3vh;
  letter-spacing: -1px;
}

.utilityList{
  list-style: none;
}