body{
    color: gainsboro;
    background-color: black;
    font-family: Arial;
    margin: 20px auto;
    max-width: 800px;
    line-height: 1.2;
    padding: 10px;
}

#title{
    margin-top: 50px;
    font-size: 120%;
} 
textarea{
    border-radius: 5px;
    border: none;
    background-color:gainsboro;
    padding: 10px;
    line-height: 1.5;
    font-size: 18px;
    font-family: Arial;
}
textarea:not([rows]){
    height: 140px;
}

textarea:not([cols]){
    width: 97%;
}

button{
    color: rgb(255, 127, 202) ;
    background-color: black;
    border: none;
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
    
button:hover{
    background-color:  rgb(255, 127, 202) ;
    color: black;
}

.new-message{
text-align: center;
color: gainsboro;
border: solid 1px  rgb(255, 127, 202) ;;
border-style: dotted;
border-radius: 6px;
}

#commentBoard{
    text-align: center;
}
.message{
    max-height: 1200px;
    padding: 10px;
    border: solid 1px  gainsboro;
    border-radius: 6px;
    overflow: auto;
}
footer{
    height: 1000px;


  }