body{
    color: gainsboro;
    background-color: black;
    font-family: Arial;
    margin: 20px auto;
    max-width: 800px;
    line-height: 1.5;
    padding: 10px;
}

#contactMe{
    font-size: 120%;
}

input{
    padding: 10px;
}

textarea:not([rows]){
    height: 140px;
}

textarea:not([cols]){
    width: 97%;
}

textarea, input{
    border-radius: 5px;
    border: none;
    background-color:gainsboro;
    padding: 10px;
    line-height: 1.5;
    font-size: 18px;
    font-family: Arial;
}

textarea{
    resize: vertical;
}

fieldset{
    border-radius: 5px;
    border: solid rgb(255, 127, 202) 0.2px;
}

#submit{
background-color:  rgb(255, 127, 202) ;
}

a{
 color: gainsboro;
 margin: 10px;
}

footer{
    height: 1000px;
}