/* :root {
  --BGCOLOR-HERO-CONTACT:STEELBLUE;
  --BGCOLOR-HERO-FADE-CONTACT: PURPLE;
  --BGIMG-HERO-CONTACT: radial-gradient(var(--BGCOLOR-HERO-CONTACT),var(--BGCOLOR-HERO-FADE-CONTACT));
}


.main__item:nth-child(1){
  background-color: var(--BGCOLOR-HERO-CONTACT);
  background-image: var(--BGIMG-HERO-CONTACT);
} */