fieldset {
  margin: 1vh 0.5vh;
  padding: 2vh 1vh;
  border-radius: 0.4rem;
  border-color: #33333381;
}

legend {
  color:#333;
  font-family: 'Cinzel';
  padding: 0.5rem;
  border-top-left-radius: 1.2rem;
  border: 1px solid rgba(217, 230, 213, 0.817);
}

input, textarea {
  background-color: rgba(204, 193, 146, 0.272);
  width: 95%;
  border-radius: 4px;
  padding: 2vh 1vh;
  margin-inline: 2.5%;
  border: 1px solid rgba(54, 101, 58, 0.249);
}

input::placeholder, textarea::placeholder, input, textarea {
  color: rgb(29, 80, 23);
}


.contact__info {
  padding: 3vh;
  column-count: 3;
  column-width: 250px;
  column-gap: 3vh;
  column-rule: 3px solid rgba(9, 65, 38, 0.454);
}

.contact__infoTitle {
  column-span: all;
  text-align: center;
  margin-bottom: 3vh;
  background-color: rgba(41, 81, 23, 0.55);
  color: rgb(179, 199, 168);
}

email, tel, address {
  display: inline-block;
  margin-bottom: 10vh;
}