body{
    font-family: Arial;
    font-size: 14px;
    line-height: 1.2;
    padding-top: 130px;
    background-color: black;
    color:gainsboro;
    min-height: 1500px;
    margin: 0px;
  }
  

  button{
    background-color:black;
    color: rgb(255, 127, 202);
    border-radius: 3px;
    border:none;
    padding: 5px;
    transition: all 0.2s;
  }

  button:hover{
    background-color:rgb(255, 127, 202);
    color: black;
    cursor: pointer;
  }