@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Cinzel:wght@700&display=swap');


/* || VARIABLES */

:root {
    /* FONTS */
    --FS-HEADING: min(4vw, 35px);
    --FS-TITLE: min(4vw, 35px);
    --FS-NAVI: min(3vw, 20px);
    --FS-BODY: min(3vw, 20px);
    --FF-CINZEL:'Cinzel Decorative', 'Cinzel', serif;


    /* COLORS */
    --BGCOLOR-HEADING: white;
    --BGCOLOR-BODY: rgba(243, 242, 239, 0.594);
    --BGCOLOR-TABLE-HEAD: rgba(76, 94, 76, 0.929);
    --BGCOLOR-TABLE-FOOT: rgba(76, 94, 76, 0.138);
    --BGCOLOR-TABLE-CELL: whitesmoke;
    --BGIMG-TABLE: linear-gradient(rgba(76, 94, 76, 0.929),rgba(76, 94, 76, 0.138));
    --BGIMG-BUTTON: radial-gradient(rgba(77, 103, 75, 0), rgba(116, 150, 116, 0.155));
    --BGIMG-LEGEND: linear-gradient(whitesmoke, rgb(207, 236, 177));
    --BGIMG-TIP: linear-gradient(rgba(131, 183, 131, 0.855), rgba(131, 183, 131, 0.634),rgba(131, 183, 131, 0.855));
    --BGIMG-FOOTER: linear-gradient( rgb(52, 125, 23), rgb(25, 71, 7));
    --BGIMG-HERO-BACKUP: linear-gradient( rgb(207, 236, 177), whitesmoke);
    --FONT-COLOR-THEAD: whitesmoke;
    --FONT-COLOR-FOOTER: whitesmoke;
    --FONT-COLOR-HEADING: #333;
    --FONT-COLOR-TIP: #184a16;

    /* BORDERS AND OUTLINES */
    --SHADOW-HEADING-BORDER:1px 1px 10px rgba(233, 227, 227, 0.589);
    --HR-BORDER: 3px dashed rgba(233, 227, 227, 0.994);
    --BORDER-TABLE: 1px solid rgba(154, 174, 152, 0.376);
    --BORDER-BUTTON: 1px solid rgba(154, 174, 152, 0.376);
    --SHADOW-BUTTON-BORDER:1px 1px 3px rgba(149, 169, 147, 0.163);
    --SHADOW-TEXTBOX-BORDER:1px 1px 5px 1px rgba(0, 0, 0, 0.153);
    --BORDER-HEADER-PICTURE: 0.4rem double  hsl(97, 68%, 26%);
    --BORDER-HEADER-PICTURE-ANIMATION: 0.5rem dashed hsl(102, 49%, 46%);
    --OUTLINE-HEADER-PICTURE: 0.1rem solid hsl(116, 45%, 56%);
}


/* || RESET  */

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier;
    box-sizing: border-box;
    line-height: 1.4;
}

hr {
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: var(--HR-BORDER);
}

a:any-link {
    text-decoration: none;
    color: #333;
}

a, button {
    cursor: pointer;
}

button, input, textarea {
    font: inherit;
}

.button {
    margin: 0.2rem;
    padding: 0.2rem;
    border: var(--BORDER-BUTTON);
    box-shadow:var(--SHADOW-BUTTON-BORDER);
    border-radius: 0.2rem;
    background-image: var(--BGIMG-BUTTON);
}
      

.button:active, .button:focus{
    opacity: 0.8;
}

/* || UTILITIES */

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}


.textBox {
    box-shadow: var(--SHADOW-TEXTBOX-BORDER);
    margin: 3rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: calc(50vh + 5rem);
    background-color: var(--BGCOLOR-BODY);
}

/* || GENERAL STYLES */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--BGCOLOR-BODY);
    font-size: var(--FS-BODY);
    max-width: 1200px;
    margin-inline: auto;
}

h2 {
    font-family: var(--FF-CINZEL);
    font-size: var(--FS-TITLE);
    margin-top: 3vh;
    margin-bottom: 3vh;
}

main {
    padding-bottom: 30vh;
}

legend {
    background-image: var(--BGIMG-LEGEND);
}


table {
    margin: 3vh;
}

table caption{
    font-family: var(--FF-CINZEL);
    margin: 3vh;
}

thead, tbody, tfoot{
    padding: 1vh;
}

thead {
    background-color: var(--BGCOLOR-TABLE-HEAD);
    margin-bottom: 0.5vh;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

thead tr {
    display: grid;
    place-content: center;
    color: var(--FONT-COLOR-THEAD);
}

tfoot tr {
    text-align: center;
}

tfoot{
    background-color: var(--BGCOLOR-TABLE-FOOT);
    margin-top: 0.5vh;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

tbody {
    background-image: var(--BGIMG-TABLE);
}

tbody td {
    border: var(--BORDER-TABLE);
    border-collapse: collapse;
    background-color: var(--BGCOLOR-TABLE-CELL);
    padding: 1vh;
    border-top-left-radius: 0.5rem;
}

summary {
    font-family: 'cinzel';
}
/* || HEADER */

.header {
    display: grid;
    grid-template-columns: 10fr 4fr 1fr 1fr;
    background-color: var(--BGCOLOR-HEADING);
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--BORDER-COLOR);
    box-shadow: var(--SHADOW-HEADING-BORDER);
    position: fixed;
    left: 0px;
    right: 0px;
    align-items: center;
    z-index: 100;
}


.header__title{
    font-weight: bold;
    font-size: var(--FS-HEADING);
    letter-spacing: 0.5vh;
    margin-right: 0.5vh;
    font-family: var(--FF-CINZEL);
}


.header__ul {
    list-style: none;
    display: flex;
}

.header__ul a {
    margin-right: 2vw;
    font-size: var(--FS-NAVI);
}

.header__ul a:hover {
    text-decoration: underline;
}

.header__picture {
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    border: var(--BORDER-HEADER-PICTURE);
    outline: var(--OUTLINE-HEADER-PICTURE);
    outline-offset: 0.05rem;
    transition: rotatePicture 2s;
}


@keyframes rotatePicture {
    0%{
       transform: rotate(0deg); 
    }

    50%{
        opacity: 0.3;
     }

    100%{
        transform: rotate(360deg); 
     }
}

.header__picture:hover, .header__picture:focus {
    outline: none;
    border: var(--BORDER-HEADER-PICTURE-ANIMATION);
    transition: all 0.2s;
    animation-name: rotatePicture;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 3;
}


.header__navi{
    height: 1.4rem;
    width: 1.4rem;
    margin-left: 1rem;
    opacity: 0.8;
}

.header__navi:hover, .header__navi:focus {
    cursor: pointer;
    opacity: 1;
}

/* || MAIN */


.main__item {
    display: grid;
    place-content: center;
}

.hero__image {
    height: 100vh;
    width: 100vw;
    max-width: 1200px;
    overflow: hidden;
    object-fit: cover;
    background-image: var(--BGIMG-HERO-BACKUP);
}

.main__tip {
    background-image: var(--BGIMG-TIP);
    min-height: 30vh;
}

.main__tip p {
    color: var(--FONT-COLOR-TIP);
}

.footer {
    background-image: var(--BGIMG-FOOTER);
    color: var(--FONT-COLOR-FOOTER);
    display: grid;
    place-content: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}