/* || RESET  */

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}

button, input, textarea {
    font: inherit;
}

h1 {
    font-size: var(--FS-H1);
}

h2 {
    font-size: var(--FS-H2);
}
p {
    font-size: var(--FS-P);
}


/* || VARIABLES */

:root {
    /* FONTS */
    --FS: 2.5vh;
    --FS-HEADING: min(4vw, 35px);
    --FS-NAVI: min(3vw, 20px);
    --FS-HERO: 3.5vh;
    --FS-H1: 3.5vh;
    --FS-H2: 2.8vh;
    --FS-P: 2.2vh;

    /* COLORS */
    --FONT-COLOR-LIGHT: rgb(207, 220, 231);
    --BGCOLOR-HEADING: white;
    --BGCOLOR-BODY: rgb(253, 249, 249);
    --BGCOLOR-BODY-FADE: #151010;
    --BGCOLOR-FOOTER: rgba(0, 0, 0, 0);
    --BGCOLOR-FOOTER-FADE: BLACK;
    --BGIMG-FOOTER: linear-gradient(var( --BGCOLOR-FOOTER), var(--BGCOLOR-FOOTER-FADE));



    --BGIMG-BODY: linear-gradient(var(--BGCOLOR-BODY), var( --BGCOLOR-BODY), var(--BGCOLOR-BODY-FADE));
    --BGCOLOR-HERO:DODGERBLUE;
    --BGCOLOR-HERO-FADE: #001f2a;
    --BGIMG-HERO: radial-gradient(var(--BGCOLOR-HERO),var(--BGCOLOR-HERO-FADE));
      
    
    --FONT-COLOR-FOOTER: whitesmoke;
    --FONT-COLOR-HEADING: black;
    --FONT-COLOR-HIGHLIGHT:  hsl(44, 100%, 49%);
    --BORDER-COLOR: rgba(220, 220, 220, 0.535);
    --BORDER-COLOR-HEADING: purple;
    --OUTLINE-COLOR-HEADING: orange;
    --FOOTER: #333;

    /* SHADOW */
    --SHADOW:1px 1px 10px rgba(233, 227, 227, 0.589);

    /* BORDERS AND OUTLINES */
    --BORDER-HEADER-PICTURE: 0.1rem double var(--BORDER-COLOR-HEADING);
    --BORDER-HEADER-PICTURE-ANIMATION: 0.5rem dashed hsl(44, 100%, 49%);
    --OUTLINE-HEADER-PICTURE: 0.1rem solid var(--OUTLINE-COLOR-HEADING) ;
}



/* || UTILITIES */
.nowrap {
    white-space: nowrap;
}

.offscrenn {
    position: absolute;
    left: -10000px;
}

.center {
    text-align: center;
}

.lightColor {
    color: var(--FONT-COLOR-LIGHT);
}
  


/* || GENERAL STYLES */

html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--BGCOLOR-BODY);
    background-image: var(--BGIMG-BODY);
}




/* || HEADER */

.header {
    display: grid;
    grid-template-columns: 10fr 4fr 1fr 1fr;
    background-color: var(--BGCOLOR-HEADING);
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--BORDER-COLOR);
    box-shadow: var(--SHADOW);
    position: fixed;
    left: 0px;
    right: 0px;
    align-items: center;
    z-index: 100;
}

/* @keyframes dropTitle {
    0% {

    }
    0% {
        
    }
    0% {
        
    }
} */

.header__title{
    font-weight: bold;
    font-size: var(--FS-HEADING);
    letter-spacing: 0.5vh;
    margin-right: 0.5vh;
}


.header__ul {
    list-style: none;
    display: flex;
    justify-items: space-evenly;
    margin-right: 0.5vh;
}

.header__ul a {
    display: inline-block;
    margin-right: 2vw;
    color: var(--FONT-COLOR-HEADING);
    text-decoration: none;
    font-size: var(--FS-NAVI);
}

.header__ul a:hover, li:focus {
    text-decoration: underline;
}

.header__picture {
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    border: var(--BORDER-HEADER-PICTURE);
    outline: var(--OUTLINE-HEADER-PICTURE);
    outline-offset: 0.05rem;
    transition: all 0.2s;
}


@keyframes rotatePicture {
    0%{
       transform: rotate(0deg); 
    }
    30%{
        transform: rotate(30deg); 
     }    
    50%{
        transform: rotate(-30deg); 
     }    
    100%{
        transform: rotate(0deg); 
     }
}

.header__picture:hover, .header__picture:focus {
    outline: none;
    border: var(--BORDER-HEADER-PICTURE-ANIMATION);
    transition: all 0.2s;
    animation-name: rotatePicture;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;

}


.header__navi{
    height: 1.2rem;
    width: 1.6rem;
    margin-left: 1rem;
}

.header__navi:hover, .header__navi:focus {
    cursor: pointer;
}

.main {
    min-height: 100vh;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
}

.main__item {
    min-width: 3rem;
    display: grid;
    place-content: center;
    padding: 1rem;
}

.main__item:nth-child(1){
    background-color: var(--BGCOLOR-HERO);
    background-image: var(--BGIMG-HERO);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 2rem);
    font-size: var(--FS-HERO);

}


.main__item:nth-child(2) {
    min-height: 100vh;
}

.footer {
    background-image: var(--BGIMG-FOOTER);
    color: var(--FONT-COLOR-FOOTER);
    font-size: 2vh;
    display: grid;
    place-content: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;

}