  header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 10px;
    z-index: 100;
  }

  .name{
    margin-left: 30px;
    width: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #title{
    font-size: 200%;
    padding-left: 4%;
    font-weight: 200;
  }
  
  .channelPicture{
    width: 50px;
    margin-top: 12px;
    border-radius: 25px;


  }

  #navi{
    display: flex;
    justify-content: space-around;
  }
  