.blogHeader{
    display: flex;
    align-items: center;   
    justify-content: space-between;
    padding: 5px;
    border-bottom: solid 1px rgb(255, 127, 202);
    
}

.blogHeaderTitle{
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
}

#page{
    display: inline;
    font-size: 14px;    
}

.blogs{
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    height: 700px;
}

.blog{
    margin: 5px;
    padding: 0px 10px;
    height: 180px;
}

.blogTitle{
    font-weight: bold;
    padding-bottom: 4px;
    border-bottom: solid 1px gainsboro;
}

.blogTime{
    text-align: right;
    font-size: 14px;
    margin: 3px;
}

.blogInhalt{
    font-size: 14px;
    color: black;
    height: 80px;
    border: none;
    border-radius: 4px;
    padding: 5px;
    overflow: hidden;
    background-color: rgba(206, 88, 88, 0.1);
    line-height: 1.4;
    transition: all 2s ease-out;

}
.blogInhalt:hover{
    background-color: rgb(255, 127, 202);
}