
#projectsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  padding: 3vh;
  gap: 3vh;
}

@media screen and (max-width: 600px) {
  #projectsContainer {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1000px) {
  #projectsContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr; 
  }
}

.myProjects {
  height: 20vh;
  width: auto;
  margin: 2vh;
  padding: 2vh;
  display: grid;
  place-content: center;
  border: 1px solid rgba(245, 245, 245, 0.185);
  border-radius: 0.2rem;
  border-top-left-radius: 1.2rem;
  color: #333;
  font-family: 'Cinzel';
  text-align: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.387);
  transition: all 0.15s;
  background-color: whitesmoke;
}


.myProjects:hover, .myProjects:focus {
  transform: translateY(-1vh);
  transition: all 0.15s;
}

.myProjects:active{
  transform: translateY(0vh);
  opacity: 0.8;
  transition: all 0.15s;
}

.projectSectionTitle {
  background-color: rgb(60, 168, 62);
}

.projectSection {
  background-color: rgba(202, 218, 166, 0.295);
  border: 1px solid whitesmoke;
  border-radius: 0.1rem;
  padding: 0.3rem;
}

.ratingSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ratingContainer {
  display: flex;
  flex-direction: column;
}

.ratingTitle {
  color: #333;
}

.ratingAdd {
  transition: all 0.15s;
} 

.ratingAdd:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.15s;
}
