body{
  padding: 4%;
  background-color: black;
  color:gainsboro;
}


#title{
  font-size: 200%;
  padding-left: 4%;
  font-weight: 200;
}

#navi{
  display: flex;
  justify-content: flex-end;
}

.navi-button{
  background-color:black;
  color: rgb(255, 127, 202);
  border-radius: 3px;
  border:none;
  padding: 5px;
  margin-right: 10px;

}
.navi-button:hover{
  background-color:rgb(255, 127, 202);
  color: black;
  cursor: pointer;
}

.container{
  border: solid 1px gainsboro;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  min-height: 800px;
  height: 900px;
  margin-top: 10px;
  padding: 10px;
}
.item{
  border: solid 1px gainsboro;
  border-radius: 6px;
  padding: 10px;
}
.left{
  width: 20%;

}

#message{
  margin-top: 5px;
  padding: 5px;
  border: none;
  border-radius: 6px;
  width: 95%;
}

#send, #clear, #local{

  margin: 10px 5px 0px 0px;
  border: none;
  border-radius: 6px;
  background-color: rgb(255, 127, 202);
  padding: 5px 5px;
}

.message{
  border: solid 1px gainsboro;
  border-radius: 6px;
  margin: 10px 0px;
  height: 785px;
  overflow: auto;
}

.middle{
  width: 50%;
  margin: 0px 10px;
}

.right{
  width: 30%;
}


footer{
  height: 1000px;
}
